* {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 30px;
}

.app {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-wrapper .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 23px;
  padding: 10px;
}

.link-wrapper .link .icons {
  font-size: 30px;
}

.profile_data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.profile_data img {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  transition: all .30s ease;
  -webkit-user-drag: none;
}

.profile_data img:hover {
  transform: scale(1.1);
  user-select: none;
}

.profile_data p {
  font-size: 25px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-wrapper .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-wrapper .inputs .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.countdown-wrapper {
  display: flex;
  justify-content: space-between;
}

.announcement-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.announcement-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mail-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.optout-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 25rem;
  gap: 20px;
}

.optout-wrapper .optout-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}